@import "./variabless"

.main-container
    width: 100%
    max-width: 1000px
    margin: $step*5 auto
    padding: $step*5

html
    font-size: $step*2
    font-family: Arial
body
    font-size: 1rem
